<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Wikis</h1>

      <ul class="list-group">


        <% wikis.forEach((wiki) => { %>
          TESTING TESTING
          <%= wiki %>
          <%= currentUser.isCollaborator(wiki) %>
            TESTING TESTING
            <% if(wiki.private) { %>
              <% if(currentUser) { %>
              <% if(currentUser.isAdmin() || currentUser.isPremium()) { %>
                <li class="list-group-item">
                  <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
                </li>
                <% } %>
                <% } %>

            <% } else { %>
          <li class="list-group-item">
            <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
          </li>
          <% } %>
          <% }) %>

      </ul>

    </main>
  </body>
</html>
